<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{/fragments/head}"></th:block>

<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <th:block th:include="~{/fragments/navbar}"></th:block>
            </div>
        </div>
    </div>


    <div class="container m-4">
        <div class="row">
            <div class="col-md-3">
                <th:block th:include="~{/fragments/categories-menu}"></th:block>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="h-pages">Register</h4>
                        <hr>
                    </div>
                </div>

                <form th:action="@{/user/register}" th:method="post" th:object="${newPasswordViewModel}">


                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Username:</label>
                                <input type="text" class="form-control" name="username" th:value="*{username}"
                                    aria-describedby="helpId" placeholder="Username">
                                <small id="helpId" class="form-text text-muted span-info-text">Username can contains
                                    only digist
                                    and numbers without white spaces (2 - 20 symbols).</small>
                                <small class="span-info-text-error" th:each="error : ${#fields.errors('username')}" th:text="${error}"></small>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" name="email" id=""
                                   th:value="*{email}" aria-describedby="emailHelpId" placeholder="Email">
                             <small id="helpId" class="form-text text-muted span-info-text">Email must be valid (6-35 symbols).</small>
                            <small class="span-info-text-error" th:each="error : ${#fields.errors('email')}" th:text="${error}"></small>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input type="password" class="form-control" name="password" id=""
                                   aria-describedby="helpId" placeholder="Password">
                            <small id="helpId" class="form-text text-muted span-info-text">Minimum eight characters, 
                            at least one uppercase letter, one lowercase letter, one number and one special character.</small>
                            <small class="span-info-text-error" th:each="error : ${#fields.errors('password')}" th:text="${error}"></small>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Repeat Password:</label>
                            <input type="password" class="form-control" name="confirmPassword" id="" placeholder="Repeat Password">
                            <small id="helpId" class="form-text text-muted span-info-text">Minimum eight characters, 
                            at least one uppercase letter, one lowercase letter, one number and one special character.</small>
                            <small class="span-info-text-error" th:each="error : ${#fields.errors('confirmPassword')}" th:text="${error}"></small>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="firstName">First Name:</label>
                            <input type="text" class="form-control" name="firstName" id=""
                                   th:value="*{firstName}" aria-describedby="helpId" placeholder="First name">
                            <small id="helpId" class="form-text text-muted span-info-text">First name can contains 
                            only letters (2-35 symbols).</small>
                            <small class="span-info-text-error" th:each="error : ${#fields.errors('firstName')}" th:text="${error}"></small>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="lastName">Last Name:</label>
                            <input type="text" class="form-control" name="lastName" id=""
                                   th:value="*{lastName}" aria-describedby="helpId" placeholder="Last Name">
                            <small id="helpId" class="form-text text-muted span-info-text">Last name can contains 
                            only letters (2-35 symbols).</small>
                            <small class="span-info-text-error" 
                            th:each="error : ${#fields.errors('lastName')}" th:text="${error}"></small>
                        </div>
                    </div>
                </div>

                <!-- <div class="row">
                    <div class="col-md-12">
                        <h4>Address and Phone number</h4>
                    </div>
                </div> -->

                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="country">Country:</label>
                            <input type="text" class="form-control" name="country" id=""
                                   th:value="*{country}" aria-describedby="helpId" placeholder="Country">
                            <small id="helpId" class="form-text text-muted span-info-text">Country can contains 
                            only letters (2-35 symbols).</small>
                            <small class="span-info-text-error" 
                            th:each="error : ${#fields.errors('country')}" th:text="${error}"></small>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="city">City:</label>
                            <input type="text" class="form-control" name="city" id=""
                                   th:value="*{city}" aria-describedby="helpId" placeholder="City">
                            <small id="helpId" class="form-text text-muted span-info-text">City can contains 
                            only letters (2-35 symbols).</small>
                            <small class="span-info-text-error" 
                            th:each="error : ${#fields.errors('city')}" th:text="${error}"></small>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="postCode">Post code:</label>
                            <input type="text" class="form-control" name="postCode"
                                   th:value="*{postCode}" id="" aria-describedby="helpId" placeholder="Post code">
                            <small id="helpId" class="form-text text-muted span-info-text">Only digits(1-10)!</small>
                            <small class="span-info-text-error" 
                            th:each="error : ${#fields.errors('postCode')}" th:text="${error}"></small>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="street">Street:</label>
                            <input type="text" class="form-control" name="street" id=""
                                   th:value="*{street}" aria-describedby="helpId" placeholder="Street">
                            <small id="helpId" class="form-text text-muted span-info-text">Street can contains
                            only letters (2-70)!</small>
                            <small class="span-info-text-error" 
                            th:each="error : ${#fields.errors('street')}" th:text="${error}"></small>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="streetNumber">Street Number:</label>
                            <input type="text" class="form-control" name="streetNumb" id=""
                                    aria-describedby="helpId" placeholder="Str. number">
                            <small id="helpId" class="form-text text-muted span-info-text">Only digits (1-3)!</small>
                            <small class="span-info-text-error" 
                            th:each="error : ${#fields.errors('streetNumb')}" th:text="${error}"></small>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="phoneNumber">Phone number</label>
                            <input type="text" class="form-control" name="phoneNumber" id=""
                                   th:value="*{phoneNumber}" aria-describedby="helpId" placeholder="Phone nuber">
                            <small id="helpId" class="form-text text-muted span-info-text">Only digits (1-12)!</small>
                            <small class="span-info-text-error" 
                            th:each="error : ${#fields.errors('phoneNumber')}" th:text="${error}"></small>
                        </div>
                    </div>
                </div>

                <div class="row text-center">
                    <div class="col-md-12">
                        <button type="submit" class="bbs-1">Register</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<th:block th:include="~{/fragments/footer}"></th:block>
</body>

</html>