<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{/fragments/head}"></th:block>

<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <th:block th:include="~{/fragments/navbar}"></th:block>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-3">

            </div>
            <div class="col-md-9">

                <div class="row">
                    <div class="col-md-12">
                        <h4 class="h-pages">Delivery information for products</h4>
                        <hr>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <th:block th:include="~{/fragments/footer}"></th:block>
</body>

</html>