<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{/fragments/head}"></th:block>

<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <th:block th:include="~{/fragments/navbar}"></th:block>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <th:block th:include="~{/fragments/profile_menu}"></th:block>
            </div>
            <div class="col-md-9 form-update-user">

                <div class="row">
                    <div class="col-md-12">
                        <h4 class="h-pages">Update Profile</h4>
                        <hr>
                    </div>
                </div>

                <form th:action="@{/user/profile/update/}" method="post" th:object="${uvm}">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row mr-1">
                                <label>First name:</label>
                                <input type="text" th:value="${uvm.getFirstName()}" class="form-control"
                                    placeholder="First Name" name="firstName" aria-describedby="helpId">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label>Last name:</label>
                                <input type="text" th:value="${uvm.getLastName()}" class="form-control"
                                    placeholder="Last Name" name="lastName" aria-describedby="helpId">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group row mr-1">
                                <label>Username:</label>
                                <input disabled type="text" th:value="${uvm.getUsername()}" class="form-control"
                                    placeholder="Username" aria-describedby="helpId">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="forms-group row mr-1">
                                <label>Email:</label>
                                <input disabled type="text" th:value="${uvm.getEmail()}" class="form-control"
                                    placeholder="Email" aria-describedby="helpId">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label>Phone number:</label>
                                <input type="text" th:value="${uvm.getPhoneNumber()}" class="form-control"
                                    placeholder="phoneNumber" name="phoneNumber" aria-describedby="helpId">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group row mr-1">
                                <label>Country:</label>
                                <input type="text" th:value="${uvm.getAddress().getCountry()}" class="form-control"
                                    placeholder="Country" name="country" naria-describedby="helpId">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row mr-1">
                                <label>City:</label>
                                <input type="text" th:value="${uvm.getAddress().getCity()}" class="form-control"
                                    placeholder="City" name="city" aria-describedby="helpId">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label>Post code:</label>
                                <input type="text" th:value="${uvm.getAddress().getPostCode()}" class="form-control"
                                    placeholder="Post code" name="postCode" aria-describedby="helpId">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-10">
                            <div class="form-group row mr-1">
                                <label>Street:</label>
                                <input type="text" th:value="${uvm.getAddress().getStreet()}" class="form-control"
                                    placeholder="Street" name="street" naria-describedby="helpId">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group row">
                                <label>Street number:</label>
                                <input type="text" th:value="${uvm.getAddress().getStreetNumb()}" class="form-control"
                                    placeholder="Street number" name="streetNumb" aria-describedby="helpId">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row mr-1">
                                <label>New password:</label>
                                <input type="password" 
                                class="form-control" name="password" placeholder="New Password"
                                    aria-describedby="helpId">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label>Repeat new password:</label>
                                <input type="password" 
                                class="form-control" placeholder="Repeat new password"
                                    name="confirmPassword" aria-describedby="helpId">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" class="bbs-1">Update Profile</button>
                        </div>
                    </div>


                    <!--

    private String street;
    private int streetNumb;
 -->


                </form>
            </div>
        </div>
    </div>


</body>
<th:block th:include="~{/fragments/footer}"></th:block>

</html>
