<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{/fragments/head}"></th:block>

<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <th:block th:include="~{/fragments/navbar}"></th:block>
            </div>
        </div>
    </div>

    <div class="container m-4">
        <div class="row">
            <div class="col-md-3">
                <th:block th:include="~{/fragments/managment_menu}"></th:block>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="h-pages">Add new manufacturer to site</h4>
                        <hr>
                    </div>
                </div>
                <form th:action="@{/manufacturer/add}" th:method="post">
                    <div class="form-group">
                        <label for="name">Manufacturer Name</label>
                        <input type="text" class="form-control" name="name" id="" aria-describedby="helpId"
                            placeholder="">
                        <!-- <small id="helpId" class="form-text text-muted">Help text</small> -->
                    </div>
                    <button type="submit" class="bbs-1">Manufacturer Add</button>
                </form>
            </div>
        </div>
    </div>


</body>
<th:block th:include="~{/fragments/footer}"></th:block>

</html>