<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block>
	<div class="row">
		<div class="col-12">
			<div class="list-group left-menu-acm">
				<a th:href="@{/admin/user/all}" class="list-group-item list-group-item-action">Edit user roles</a>
				<a th:href="@{/admin/user/all}" class="list-group-item list-group-item-action">All users (edit)</a>
				<a th:href="@{/admin/user/all}" class="list-group-item list-group-item-action">Add default products</a>
				<a style="color: white; background-color: #bd2130" th:href="@{/admin/user/all}"
					class="list-group-item list-group-item-action">Delete all products</a>
			</div>
		</div>
	</div>
</th:block>
</html>
