<th:block>
	<div class="row">
		<div class="col-12">
			<div class="list-group left-menu-acm">
				<a th:href="@{/order/all}" class="list-group-item list-group-item-action">Orders</a>
				<!-- <div class="dropdown-divider"></div> -->
				<a th:href="@{/category/add}" class="list-group-item list-group-item-action">Category add</a>
				<a th:href="@{/category/update}" class="list-group-item list-group-item-action">Category update</a>
				<a th:href="@{/category/all}" class="list-group-item list-group-item-action">Category all</a>
				<!-- <div class="dropdown-divider"></div> -->
				<a th:href="@{/product/add}" class="list-group-item list-group-item-action">Product add</a>
				<a th:href="@{/product/update}" class="list-group-item list-group-item-action">Product update</a>
				<!-- <div class="dropdown-divider"></div> -->
				<a th:href="@{/manufacturer/add}" class="list-group-item list-group-item-action">Manufacturer add</a>
				<a th:href="@{/manufacturer/update}" class="list-group-item list-group-item-action">Manufacturer
					update</a>
				<a th:href="@{/manufacturer/all}" class="list-group-item list-group-item-action">Manufacturer all</a>
			</div>
		</div>
	</div>
</th:block>